# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# Intellij
.idea/
*.iml
*.iws

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# Maven
log/
target/

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/